#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

input {
  font-family: monospace;
}

.Receipt {
  padding: 1em;
}

ol {
  margin: .3em 0 .1em;
}

.error {
  text-decoration: bold;
  color: red;
}
